
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#placeholder {
  height: 100px;
  width: 100px;
  padding: 60px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:30px;
}
#overlay,#choice,#boutique,#qcm{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  color: white
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#choice,#boutique,#qcm {
  display: none;
}

.grid-container {
  display: grid;
  /*! padding: 10px; */
  grid-template-columns: 450px 450px;
  grid-template-rows: 322px;
}
.grid-item {
  width: 293px; /*800*/
  /*! height: 320px; *//*556*/
  background-image: url("https://media.discordapp.net/attachments/517060733649813524/645969112622825502/unknown.png");/**/
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  font-size: small;
  background-size: 450px;
  padding-right: 146px;
  padding-left: 12px;
}
.grid-item>* {
    flex: 1 1 160px;
}
#first_part, #second_part {
    display: grid;
    grid-template-columns: 97px 32px 97px; 
    width: 100px;
    padding-left: 25px;
    height: 94px;
    padding-top: 50px;
}

#second_part {
 padding-left: 55px;
  
}